<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <import resource="spring-entity.xml"/>
    <import resource="spring-controllers.xml"/>
    <import resource="spring-converters.xml"/>
    <import resource="spring-entity.xml"/>
    <import resource="spring-entity-datasource.xml"/>
    <import resource="spring-repositories.xml"/>
    <import resource="spring-services.xml"/>

</beans>
